<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listings</h1>
    <div>
        <% data.forEach(item => { %>
        <div>
            <img src="<%= item.image %>" alt="">
        </div>
        <div>
            <h2><%= item.title %></h2>
        </div>
        <div>
            <p><%= item.description %></p>
        </div>
        <div>
            <p><%= item.price %></p>
        </div>
        <div>
            <p><%= item.location %></p>
        </div>
        <% }); %>
    </div>
</body>
</html>